name: Build and Push Docker Image
on:
  push:
    branches:
      - main
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            FrontEnd:
              - 'frontend/**'
            BackEnd:
              - 'backend/**' 
            API:
              - 'api/**'
            messagebot:
              - 'messagebot/**'
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Frontend Docker image
        if: steps.filter.outputs.FrontEnd == 'true'
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: ghcr.io/tunsworthy/housefinder_frontend:latest
          platforms: linux/arm64/v8
     
      - name: Build and push Backend Docker image
        if: steps.filter.outputs.BackEnd == 'true'
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ghcr.io/tunsworthy/housefinder_backend:latest
          platforms: linux/arm64/v8
      
      - name: Build and push API Docker image
        if: steps.filter.outputs.API == 'true'
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./api/Dockerfile
          push: true
          tags: ghcr.io/tunsworthy/housefinder_api:latest
          platforms: linux/arm64/v8

      - name: Build and push messagebot Docker image
        if: steps.filter.outputs.messagebot == 'true'
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./api/Dockerfile
          push: true
          tags: ghcr.io/tunsworthy/housefinder_api:latest
          platforms: linux/arm64/v8

      - name: Trigger Deployment
        if: steps.filter.outputs.FrontEnd == 'true' || steps.filter.outputs.BackEnd == 'true' || steps.filter.outputs.API == 'true' || steps.filter.outputs.messagebot == 'true'
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.DEPLOY_TOKEN }}
          repository: Tunsworthy/homeops
          event-type: deploy-container
          client-payload: '{"branch": "housefindertest", "folder": "housefinder"}'